<h3>Training</h3>

<p><b>Refiners Firearms</b> trains and equips mean and woman for personal and home defense.
Our training is individualized and designed to build your <b>Confidence, Competence,</b> and <b>Proficiency</b>
so you are better able to defend yourself and those you love.  Our courses are focused on couples,
families, teams, and individuals.</p>

<br>

<h4 class="refiner-color">Courses</h4>
<ul>
    <li>Firearms Safety Training</li>
    <li>Introduction to Definsice Pistol</li>
    <li>AZ Concealed Weapons Permit</li>
    <li>NRA Certified Training</li>
    <li>Custom Firearms Training</li>
</ul>